*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}


.container_header{

    background-color: #129799;
    width:100%;
    margin: auto;
    height: 640px;
    display: flex;
    /*Flex-direction é uma propriedade para especificar uma direção dos itens flexiveis*/
    flex-direction: column;
    /*A propriedade align-items serve para estabelecer um valor*/
    align-items: center;
    justify-content: space-between;
    color: #f7f7f7;
    
    
}

nav{
    width: 80%;
    font-size: 15px;
    padding:2vh;

}

/*Estilizar a ul da header geral*/
.container_header ul{
    display: flex;
    justify-content:space-evenly;
    font-size: 2em;
    list-style: none;
}

/*Definição do tamanho do container_menu*/
.container_menu{
    width: 60%;
}

/*ajustar o tamanho do container_menu--list*/

.container_menu--list{
    width: 20%;
}

/*Estilizar a class container header li*/
.container_header li{
    width: 40%;
    text-align: center;
}

/*container_header li:hover
(hover corresponde quando o usuário designa um elemento apontador, mas não está ativada.)*/
.container_header li:hover{
    font-weight:700;
    cursor: pointer;
}

div{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2.7vw;
}

div img{
    width: 33.3vw;
}

.container_aquarela{

    background-color:#FFA185;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width:100%;
    height: 1230px;
    
   

}
.container_aquarela h2{
    width: 40%;
    margin-left: 2vw;
    color: white;
}

.paragraph {
    margin-left: 2vw;
    width: 60vw;
    word-break: break-word;
    
    display: flex;
    
}


.container_aquarela--text{
    
    width:100%;
    display: flex;
    flex-direction: column;
    Justify-content: Space-evenly;
    align-items: flex-start;
}

.container_aquarela p{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 35px;
   

}

.caixa-imagem p{
    margin-left: 500px;
}

.caixa-imagem{
    height:150vh;
    width:100%;
    
}

.imagem{
    width: 350px;
	height: 250px;
    
    
}

.caixa{
    display:inline-block;
    margin-left: 8vw;
   
    
}

footer{
    background-color: #129799;
    height:20vh;
    display: flex;
    justify-content:space-around;
    align-items:center;
    
}

.footer-redesocial img{
    height:6vh;
    margin-left: 2vw;
}
.footer-redesocial{
    width: 100vw;
    display: flex;
    justify-content:space-evenly;
}

.footer{
    list-style: none;
    display: flex;
    justify-content: space-between;
    cursor: pointer;
    font-size: 1.5rem;
    width:30vw;
    color: white;
    margin-left: 25vw;
}